#about{
    position: relative;
}
.about-page{
    position: relative;
    background: #2B2B2B;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}


.about-profile-pic{
 position: relative; 
   max-width: 350px;
   max-height: 350px;
   padding: 50px;
   /* background-color: aqua; */
}
.about-person{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 75%;
    padding: 50px;
    /* background-color: blueviolet; */
    /* padding-left: 100px; */
}
.about-person-contact-resume{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: brown; */
}
.about-person-contact-resume-contact-details{
    width: 45%;
    /* background-color: chartreuse; */
 
}
.about-person-contact-resume-resume-download{
    padding-top: 5rem;
    width: 55%;
    /* margin-left: 0px;
    background-color: blue; 
    padding-left: 20px; */
   
}
#about .profile-pic{
    width: 80%;
    height: 80%;
    /* border-radius: 100%; */
}
.about-page h2 {
    font: 22px/30px 'opensans-bold', sans-serif;
    color: #fff;
    
 }
 .about-page p {
    line-height: 30px;
    color: #7A7A7A;
 }
 #about .about-person-contact-resume-resume-download .button {
    background: #444;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: 800;
 }
 #about .about-person-contact-resume-resume-download .button:hover {
    background: #fff;
    color: #2B2B2B;
 }
 #about .about-person-contact-resume-resume-download .button i {
    font-size: 20px;
 }
 @media only screen and (max-width: 600px) {
    .about-page{
     flex-direction: column;
    }
    .about-page p,h2{
        text-align: center;
    }
    .about-profile-pic{
        
          max-width: 250px;
          max-height: 250px;
          padding: 50px;
          width: 100%;
          text-align: center;
          transform: translate(25%, 0%);
          /* background-color: aqua; */
       }
       .about-person{
           width: 100%;
            padding: 0px;
       }
       .about-person-contact-resume{
           flex-direction: column;
       }
       #about .profile-pic{
           border-radius: 0%;
       }
       #about .about-person-contact-resume-contact-details{
           width: 100%;
            align-items: center;

       }
       #about .about-person-contact-resume-resume-download{
            width: 100%;
            padding: 50px;
       }
    
   }