.footer-page{
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    text-align: center;
}
.footer-page a, .footer-page a:visited { color: #525252; }
.footer-page a:hover, .footer-page a:focus { color: #fff; }
.footer-page p{
    text-align: center;
    font-weight: 600;
    color: #fff;
}
/* social links */
.footer-social{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

 .footer-social-item {
     position: relative;
    height: 40px;
    width: 40px;
    zoom: 1.5;
    font-size: 20px;
    
 }

 .footer-social-item i:hover{
    color: #11ABB0;
 }
 
 .social-links li:first-child { margin-left: 0; }

 /* Go To Top Button */
#go-top {
	position: relative;
	display: flex;
    flex-direction: row;
    justify-content: center;
}
#go-top a {
    text-align: center;
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;
    /* background-color: #fff; */
	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }
/* #go-top i{
    font-style: italic;
    color: #fff;

} */
