.skill-page,.education{
    position: relative;
}
 .education-list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
 }
 .education-list-item{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
 }

 .education-list-item-sub,.education-list-item-name{
     position: relative;
     /* padding: 5px; */
     width: 100%;
     text-align: center;

 }
 .education-list-item-name{
     font-size: 20px;
     font-weight:500
 }
 .education-list-item-info{
    font: 16px/24px 'librebaskerville-italic', serif;
    color: #6E7881;
 }
 .education-list-item-date{
    font: 15px/24px 'opensans-regular', sans-serif;
 }
.skill{
    position: relative;
    display: flex;
    flex-direction: column;
}
.skill-techstack{
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.skill-programming{
    position: relative;
    display: flex;
    flex-direction: row;
}
.skill-others{
    position: relative;
    display: flex;
    flex-direction: row;
}
.skill-techstack-list, .skill-programming-list,.skill-others-list{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
/* .skill-others-list{
    position: relative;
    
} */
.skill-techstack-list-item{
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* float: left; */
    /* width: 33%; */
    height: 250px;
    padding: 50px;
    /* padding-left: 150px; */
}
.skill-programming-list-item{
    position: relative;
    /* float: left;
    width: 33%; */
    height: 200px;
    padding: 50px;
    /* padding-left: 150px;
    padding-right: 100px; */
}

.skill-others-list-item{
    position: relative;
    /* float: left; */
    /* padding-left: 150px; */
    padding: 50px;
}
.skill-techstack-fig{
    width: 120px;
    height: 120px;
}
.skill-programming-fig{
    width: 60px;
    height: 60px;
}
#resume h2{
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* margin-left: 750px; */
 }
 #resume h2 span {
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
 }
 .skill-page-header,.education-header{
     padding-bottom: 50px;
     /* text-align: center; */
 }
 .resume-header {
   width: 100%;
   text-align: center;
   text-decoration: underline;
   text-decoration-color: red;
   text-decoration-thickness: 3px;
    font-weight: 900;
    font-size: 30px;
    /* border-bottom: 3px solid red; */
    padding-bottom: 10px;
}

 @media only screen and (max-width: 600px) {
    .skill-techstack,.skill-programming,.skill-others{
        flex-direction: column;
    }
    .skill-techstack-list-item,.skill-others-list-item,.skill-programming-list-item{
        /* width: 49%; */
        padding: 15px;
    }
   
  }